<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explora i gestiona una llista d'imatges des d'una API feta amb Angular 2. Troba i utilitza imatges de forma fàcil i eficient per als teus projectes Angular 2. Comença a explorar ara!">
  <title>PEC5 Angular2, llistat imatges API</title>
  <link rel="preload" as="image" href="https://pixabay.com/get/g7d4bf0dce01e9b042a75a6cdd1cf1a5c0a9ef889219056298...">
  <script src="path/to/your/script.js" defer></script>
  <link rel="preconnect" href="https://pixabay.com">
  <link rel="stylesheet" href="./component-list.component.css">
</head>
<body>
  <main>
    <div class="container mt-5">
      <div class="row mb-4">
        <div class="col text-end">
          <button class="btn btn-light me-2 hovergray" aria-label="Mostrar vista de targetes" (click)="showCardView()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill">
              <path d="M0 32v128h128V32H0zm120 120H8V40h112v112zm40-120v128h128V32H160zm120 120H168V40h112v112zm40-120v128h128V32H320zm120 120H328V40h112v112zM0 192v128h128V192H0zm120 120H8V200h112v112zm40-120v128h128V192H160zm120 120H168V200h112v112zm40-120v128h128V192H320zm120 120H328V200h112v112zM0 352v128h128V352H0zm120 120H8V360h112v112zm40-120v128h128V352H160zm120 120H168V360h112v112zm40-120v128h128V352H320z"/>
            </svg>
          </button>
          <button class="btn btn-light hovergray" aria-label="Mostrar vista de llista" (click)="showListView()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
            </svg>
          </button>
        </div>
      </div>

      <div *ngIf="isCardView">
        <div class="row" [@listAnimation]="cards.length">
          <div *ngFor="let card of cards" class="col-md-4 mb-4">
            <div class="card">
              <picture>
                <source srcset="{{card.largeImageURL}}.webp" type="image/webp">
                <source srcset="{{card.largeImageURL}}" type="image/jpeg">
                <img [src]="card.largeImageURL" class="card-img-top" alt="{{card.user}}">
              </picture>
              <div class="card-body text-center mb-4">
                <h5 class="card-title">{{card.user}}</h5>
                <p class="card-text">
                  <strong>Mida:</strong> {{card.imageWidth}} x {{card.imageHeight}}
                </p>
                <a [routerLink]="['/detail', card.id]" class="btn btn-primary">Veure Detalls</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isCardView">
        <h1>LLista imatges</h1>
        <ul class="list-group listgray" [@listAnimation]="cards.length">
          <li *ngFor="let card of cards" class="list-group-item card-item">
            <p> {{card.id}} - {{card.user}} </p>
            <img [src]="card.largeImageURL" class="card-img" alt="{{card.user}}">
            <button class="btn btn-primary" [routerLink]="['/detail', card.id]">Detalls</button>
          </li>
        </ul>
      </div>
    </div>
  </main>
</body>
</html>